<div class="todo-modal">
    <div class="todo-modal__surface">
        <header class="todo-modal__header">
            <h2>Tasks</h2>
            <button class="btn-close" (click)="close()" title="Close" aria-label="Close">
                <app-icon name="x-mark" />
            </button>
        </header>

        <div class="input-group">
            <input
                type="text"
                [formControl]="taskInput"
                (keyup.enter)="addTask()"
                placeholder="What are you planning?"
            />
            <button class="btn-add" (click)="addTask()" title="Add Task" aria-label="Add Task">
                <app-icon name="plus" />
            </button>
        </div>

        <ul cdkDropList (cdkDropListDropped)="onTaskDrop($event)" class="task-list">
            @for (task of tasksService.tasks(); track task.id) {
                <li
                    cdkDrag
                    class="task-item"
                    [class.is-completed]="task.completed"
                    (cdkDragStarted)="onDragStart()"
                    (cdkDragEnded)="onDragEnd()"
                >
                    <button
                        class="check-btn"
                        (click)="toggleTask(task.id)"
                        title="Toggle Complete Task"
                        aria-label="Toggle Complete Task"
                    >
                        <app-icon [name]="task.completed ? 'check-circle' : 'circle'" />
                    </button>

                    <div cdkDragHandle class="drag-handle">
                        <app-icon name="bars" />
                    </div>

                    <span class="task-text" [title]="task.description">{{ task.description }}</span>

                    <button
                        class="delete-btn"
                        (click)="removeTask(task.id)"
                        title="Remove Task"
                        aria-label="Remove Task"
                    >
                        <app-icon name="x-mark" />
                    </button>
                </li>
            }
        </ul>
    </div>
</div>
