// color palette
$bg-app: #0f172a;
$bg-card: #1e293b;
$shadow-soft: #1d293a33;
$color-work: #f43f5e;
$color-work-soft: #f43f5e33;
$color-white-soft: #f8fafc33;
$color-short: #10b981;
$color-long: #3b82f6;
$text-main: #f8fafc;

$text-muted-light: #cbd5e1;
$text-muted: #94a3b8;
$text-muted-mid: #64748b;
$text-muted-mid-dark: #4b5563;
$text-muted-dark: #373e46;
$text-muted-darker: #1f2933;

// space scaling
$space-xxxs: 0.0625rem;
$space-xxs: 0.125rem;
$space-xs: 0.25rem;
$space-sm: 0.5rem;
$space-md: 1rem;
$space-lg: 1.5rem;
$space-xl: 2rem;
$space-xxl: 3rem;
$space-xxxl: 4rem;

// borders
$radius-xxxs: 0.0625rem;
$radius-xxs: 0.125rem;
$radius-xs: 0.25rem;
$radius-sm: 0.5rem;
$radius-md: 1rem;
$radius-lg: 1.5rem;
$radius-xl: 2rem;
$radius-xxl: 3rem;
$radius-xxxl: 4rem;

// font-sizing
$font-caption: 0.75rem;
$font-body: 1rem;
$font-title: 1.5rem;
$font-heading: 2rem;
$font-heading-2: 3rem;
$font-heading-3: 4rem;
$font-heading-4: 5rem;

// font-family
$font-family-segoe-monospace: 'Segoe UI', monospace;
